.return__button {
    width: 100px;
    margin-left: 420px
}

.return__button-submit {
    width: 100px;
    height: 34px;
    border: none;
    background: #e6dacf;
    color: #bc9a7d;
    cursor: pointer;
    border: 1px solid #e6dacf;
}


/*登録*/
.main_inner {
    margin-top: 0;
    width: 1512px;
    height: 950px;
    background-color: #ded1c7;

}

/*contact*/
.contact {
    padding-top: 70px;
    gap: 0px;
    opacity: 0px;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
    line-height: 45.61px;
}

.contact_text {
    color: #8B7969;
}


.login__label--item {
    font-size: 25px;
    margin: 0 0 10px 0;
    color: #887969;
}

.form__group-content {
    width: 445px;
    height: 102px;
    margin: 0 145px 60px 145px;
    gap: 0px;
    opacity: 0px;
}


.name {
    width: 445px;
    height: 55px;
    top: 409px;
    left: 534px;
    gap: 0px;
    opacity: 0px;
    background-color: #F4F4F4;
    border: none;
    color: #887969;
    padding-left: 20px;
}

.email {
    width: 445px;
    height: 55px;
    top: 409px;
    left: 534px;
    gap: 0px;
    opacity: 0px;
    background-color: #F4F4F4;
    border: none;
    color: #887969;
    padding-left: 20px;
}

.password {
    width: 445px;
    height: 55px;
    top: 558px;
    left: 534px;
    gap: 0px;
    opacity: 0px;
    background-color: #F4F4F4;
    border: none;
    color: #887969;
    padding-left: 20px;
}

.content {
    width: 736px;
    height: 650px;
    margin: 60px 388px 100px 388px;
    padding: 55px 0px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #C5B9B0;
    background-color: #fff;
}

.login__button {
    border: 0px 300px 0px 300px;
}

.login__button-submit {
    margin: 0 300px 0 300px;
    width: 160px;
    height: 46px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}

/*エラーの設定*/
.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}